<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <title>Contacto</title>
    <link rel='stylesheet' href='css/estilos.css'>
</head>
    <body>
        <form id="forma" class='contacto'>
            <div><label>Tu Nombre:</label><input id="nombre" type='text' vmodel="nombre" value='' required></div>
            <div><label>Tu Email:</label><input  id="correo" type='email' vmodel="correo" value='' required></div>
            <div><label>Telefono:</label><input id= "telefono" type='text' v-model="telefono" value='' minlength="10" maxlength="10" required></div>
            <div><label>Asunto:</label><input type='text' value='' required></div>
            <div><label>Mensaje:</label><textarea name="comentario" id="comentario" rows="6" v-model="comentario" required></textarea></div>
            <div><input id="enviar" type="button" onclick="if(validarFormulario() == true ){enviarDatos();}" value='Envia Mensaje'></div> <!--  -->
        </form>
        

        <!-- ↓ mandar correo a empresa -->
        <script type="text/javascript">
            function enviarDatos(){(function(){
                emailjs.init("user_9jJ4JByGdiHwXSvI6L0ZH");
            })();
            var templateParams = {
                from_name: document.getElementById("nombre").value,
                    email: document.getElementById("correo").value,
                message: document.getElementById("comentario").value,
                    telefono: document.getElementById("telefono").value,
                    to_email: 'cristobalalejandrobtds@gmail.com'
            };
             
            emailjs.send('gmail', 'template_odvd508', templateParams)
                .then(function(response) {
                   console.log('SUCCESS!', response.status, response.text);
                   alert("Se ha enviado el mensaje exitosamente") //le agrege este alert nomas para saber que si se envio
                }, function(error) {
                   console.log('FAILED...', error);
                   alert("Hubo un error al mandar el mensaje") //
                });
                }
            </script>




    </body>
    <script src="Javascript/validarFormulario.js"></script>
</html>