<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
    crossorigin="anonymous"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Caramel&display=swap"
    rel="stylesheet"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Caramel&family=Fleur+De+Leah&display=swap"
    rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <title>Contacto</title>
    <link rel='stylesheet' href='css/estilos.css'>
</head>
    <body>

        <div class="sticky-xl-top" style="position: sticky;">
            <nav class="navbar navbar-expand-lg navbar-pink-300 bg-pink-300 sticky-top
            " style="position: sticky; background-color: #EF0654;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="color: rgb(247, 243, 243);">Happy swimwear</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="color:rgb(247, 243, 243);">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: rgb(247, 243, 243);">Trajes de baño</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(247, 243, 243);">
                                Categoria
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#" style="color: #EF0654 
      ;">Hombre</a></li>
                                <li><a class="dropdown-item" href="#" style="color: #EF0654 
      ;">Mujer</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#" style="color: #EF0654 
      ;">Pareja</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"style="color: rgb(247, 243, 243);">Oferta</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-pink-900" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
      </div>



        <form id="forma" class='contacto'>
            <div><label>Tu Nombre:</label><input id="nombre" type='text' vmodel="nombre" value='' required></div>
            <div><label>Tu Email:</label><input  id="correo" type='email' vmodel="correo" value='' required></div>
            <div><label>Telefono:</label><input id= "telefono" type='text' v-model="telefono" value='' minlength="10" maxlength="10" required></div>
            <div><label>Mensaje:</label><textarea name="comentario" id="comentario" rows="6" v-model="comentario" required></textarea></div>
            <div><input id="enviar" type="button" onclick="if(validarFormulario() == true ){enviarDatos();}" value='Enviar Mensaje'></div> <!--  -->
        </form>
        

        <!-- ↓ mandar correo a empresa -->
        <script type="text/javascript">
            function enviarDatos(){(function(){
                emailjs.init("user_9jJ4JByGdiHwXSvI6L0ZH");
            })();
            var templateParams = {
                from_name: document.getElementById("nombre").value,
                    email: document.getElementById("correo").value,
                message: document.getElementById("comentario").value,
                    telefono: document.getElementById("telefono").value,
                    to_email: 'cristobalalejandrobtds@gmail.com'
            };
             
            emailjs.send('gmail', 'template_odvd508', templateParams)
                .then(function(response) {
                   console.log('SUCCESS!', response.status, response.text);
                   alert("Se ha enviado el mensaje exitosamente") //le agrege este alert nomas para saber que si se envio
                }, function(error) {
                   console.log('FAILED...', error);
                   alert("Hubo un error al mandar el mensaje") //
                });
                }
            </script>

<script src="Javascript/validarFormulario.js"></script>
<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>

    </body>

</html>