<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="https://fonts.googleapis.com/css2?family=Caramel&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Caramel&family=Fleur+De+Leah&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/estilos.css'>
    <link rel="stylesheet" href="/css/contacto.css">
    <title>Contacto</title>
    
</head>

<body>
    <header class="sticky-top">
<div class="header">
		<div class="menu-bar">
			<nav class="navbar navbar-expand-lg navbar-light " style="padding-top: 0px; padding-bottom: 0px;">
				<div class="container-fluid">
				  <!-- <a class="navbar-brand" href="#">Happy swimwear</a> -->
                  <a class="navbar-brand" href="#" style="padding-top: 0px; padding-bottom: 0px;"><img src="/imagenes/logoA.png" style="margin-top: 0px; padding-top: 5px;" alt=""></a>
				  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="PaginaPrincipal.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="listaProductos.html">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Ofertas.html">Ofertas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Aboutus.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Iniciar Sesión</a>
            </li>
						<li class="nav-item">
              <a class="nav-link" href="CarritoPruebas.html">Compras</a>
            </li>
					</ul>
				  </div>
				</div>
			  </nav>
		</div>
	</div>
 </div>
 </header>
    
<br/><br/><br/>
<center><p class="moverAgradecer"><p style="font-size: 3.5vh; font-family: 'Josefin Sans', sans-serif; justify-content: center;">
        ¡Agradecemos tu visita! Por favor llena el formulario para contactarnos. ¡Con gusto te atenderemos! </p></center></br>



    <main>
        <div class="row" style="padding: 5px; margin: 5px;">


            <div class="map col-lg-7 col-md-12 col-12">

                <!--Mapa y dirección-->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.7234714251646!2d-103.34207785604211!3d20.677929335747063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b1b8f0ac5037%3A0x9eea81f79fbbf3aa!2sPlataforma%20Abierta%20de%20Innovaci%C3%B3n%20(PLAi)!5e0!3m2!1ses-419!2smx!4v1632332105523!5m2!1ses-419!2smx"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <h5 style="display: inline" class="contacto"> Dirección: </h5>
                    <p class="contacto">C. Independencia 55, Zona Centro, 44100 Guadalajara, Jal.</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-envelope" viewBox="0 0 16 16">
                        <path
                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                    </svg>
                    <h5 style="display: inline" class="contacto"> Correo: </h5>
                    <p class="contacto">contacto@happyswimwear.mx</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-telephone" viewBox="0 0 16 16">
                        <path
                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    <h5 style="display: inline" class="contacto"> Telefono: </h5>
                    <p class="contacto">5456141893</p>
                </div>

            </div>
            <!--Formulario-->
            <div class="formulario col-lg-5 col-md-12 col-12">
                <form id="forma" class='contacto'>
                    <div><label>Tu Nombre:</label><input id="nombre" type='text' vmodel="nombre" value='' placeholder="Ejemplo: Hugo Lopez Chávez" required>
                    </div>
                    <div><label>Tu Email:</label><input id="correo" type='email' vmodel="correo" value='' placeholder="Ejemplo: alberto54@gmail.com" required>
                    </div>
                    <div><label>Telefono:</label><input id="telefono" type='text' v-model="telefono" value='' minlength="10" maxlength="10" placeholder="3331310863" required></div>
                    <div><label>Mensaje:</label><textarea name="comentario" id="comentario" rows="6"
                            v-model="comentario" placeholder="Ejemplo: Los productos que ofrecen han sido de mi agrado sin embargo quisiera que existieran más modelos y tallas" required></textarea></div>
                    <div><input id="enviar" type="button" onclick="if(validarFormulario() == true ){enviarDatos();}"
                            value='Envia Mensaje'></div>
                </form>
            </div>
        </div>

    </main>



    <!-- ↓ mandar correo a empresa -->
    <script type="text/javascript">
        function enviarDatos() {
            (function () {
                emailjs.init("user_9jJ4JByGdiHwXSvI6L0ZH");
            })();
            var templateParams = {
                from_name: document.getElementById("nombre").value,
                email: document.getElementById("correo").value,
                message: document.getElementById("comentario").value,
                telefono: document.getElementById("telefono").value,
                to_email: 'cristobalalejandrobtds@gmail.com'
            };

            emailjs.send('gmail', 'template_odvd508', templateParams)
                .then(function (response) {
                    console.log('SUCCESS!', response.status, response.text);
                    alert("Se ha enviado el mensaje exitosamente") //le agrege este alert nomas para saber que si se envio
                }, function (error) {
                    console.log('FAILED...', error);
                    alert("Hubo un error al mandar el mensaje") //
                });
        }
    </script>
    <script src="/js/validarFormulario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
</body>

</html>
